asgiref==3.9.1
cachetools==5.5.2
dj-database-url==3.0.1
Django==5.2.5
django-cors-headers==4.7.0
django-storages==1.14.6
djangorestframework==3.16.0
google-auth==2.40.3
protobuf==6.31.1
psycopg-binary==3.2.9
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
python-dotenv==1.1.1
rsa==4.9.1
sqlparse==0.5.3
typing_extensions==4.14.1
requests
pillow
whitenoise